<header style="background-color: #1D2143" class="header">
  <div class="branding" style="min-width: auto">
    <a routerLink="/portal" class="nav-link">
      <img src="assets/images/wayne-logo.svg" width="60px" alt="">
      <span class="title">{{getTitle()}}</span>
    </a>
  </div>

  <div class="header-actions">
    <wayne-dropdown size="small">
      <clr-icon shape="world" style="margin-right: 5px"></clr-icon>
      {{showLang(currentLang)}}
      <clr-icon shape="caret down" size="12" style="margin-left: 5px;"></clr-icon>
      <wayne-dropdown-item>
        <ng-container *ngFor="let lang of translate.getLangs()">
          <span (click)="changeLang(lang)">{{showLang(lang)}}</span>
        </ng-container>
      </wayne-dropdown-item>
    </wayne-dropdown>
    <wayne-dropdown size="small" last>
      <clr-icon shape="user" style="margin-right: 5px"></clr-icon>
      {{authService.currentUser?.display}}
      <clr-icon shape="caret down" size="12" style="margin-left: 5px;"></clr-icon>
      <wayne-dropdown-item>
        <span (click)="goBack()" *ngIf="authService.currentUser.admin">{{'ACCOUNT.GO_BACK' | translate}}</span>
        <span (click)="logout()">{{'ACCOUNT.LOGOUT' | translate}}</span>
      </wayne-dropdown-item>
    </wayne-dropdown>
  </div>
</header>

