<clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
  <a
    clrVerticalNavLink
    title="首页"
    routerLink="/portal/dashboard"
    routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="home"></clr-icon>
    首页
  </a>
  <a
    clrVerticalNavLink
    title="节点"
    routerLink="/portal/kubernetes/node"
    routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="server"></clr-icon>
    节点
  </a>
  <a
    clrVerticalNavLink
    title="命名空间"
    routerLink="/portal/kubernetes/namespace"
    routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="layers"></clr-icon>
    命名空间
  </a>
  <a
    clrVerticalNavLink
    title="Deployment"
    routerLink="/portal/kubernetes/deployment"
    routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="event"></clr-icon>
    Deployment
  </a>
  <a
    clrVerticalNavLink
    title="Statefulset"
    routerLink="/portal/kubernetes/statefulset"
    routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="blocks-group"></clr-icon>
    Statefulset
  </a>
  <a
    clrVerticalNavLink
    title="Daemonset"
    routerLink="/portal/kubernetes/daemonset"
    routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="layers"></clr-icon>
    Daemonset
  </a>
  <a
    clrVerticalNavLink
    title="Job"
    routerLink="/portal/kubernetes/job"
    routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="clock"></clr-icon>
    Job
  </a>
  <div class="nav-divider"></div>
  <a href="javascript:;" style="flex: 1;"></a>
  <wayne-footer></wayne-footer>
</clr-vertical-nav>
